{% extends "layout.html" %}
{% block title %}
    Projects
{% endblock %}
{% block main %}



    <!-- ======= End Page Header ======= -->
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">

      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>PROJECTS</h2>
            <p>Below are Projects i've worked on as either part of a course or freelance work</p>
            <span class="text-warning d-block">(For more projects, visit my YouTube & GitHub at the bottom/top right)</span>

            <a href="/contact" class="btn-get-started">Let's Collaborate</a>
            <a class="btn-get-started mt-3" href="assets/resume/resume.pdf" target="_blank">
              Open Resume
            </a> 

          </div>
        </div>
      </div>
    </section><!-- End Page Header -->

<!-- End Services Section -->
<section>
  <div class="container mb-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10 text-center">
        <!-- GitHub Stats Card -->
        <a href="https://github.com/anuraghazra/github-readme-stats">
          <img src="https://github-readme-stats.vercel.app/api?username=mkhmik004" alt="GitHub stats" style="width: 78%; max-width: 1200px; height: auto;">
        </a>
      </div>
    </div>
  </div>
</section>
  
  
  
  <section id="projects" class="projects mt-5">
    <div class="container">
        <div class="section-header">
            <h2>Projects</h2>
        </div>

        <div class="row">

            <!-- Project 1: BetterFinance App -->
            <div class="col-md-6 project-item mb-5">
                <h3>BetterFinance App</h3>
                <div class="text-center">
                    <img src="/assets/img/BF.png" loading="lazy" alt="BetterFinance App" style="width: 100%; max-width: 1200px; height: auto;">
                </div>
                <p>BetterFinance is a robust web application designed for logged-in users to engage in various financial activities. Users can "buy & sell" stocks, "deposit & withdraw" demo money, and update or reset their login details. Real-time stock quotes from the IEX API ensure accurate data for informed decision-making. Users can monitor their stock portfolio and review transaction history to stay on top of their financial activities.<br><br> USERNAME:<span class="text-warning d-block">"mark"</span>PASSWORD:<span class="text-warning d-block">"mark"</span></p>
                <div class="button-container mt-3 d-flex justify-content-center">
                    <!-- Software Demo Button -->
                    <a href="https://mkhmik004.pythonanywhere.com" target="_blank" class="btn btn-success">Demo Software</a>
                    <!-- Source Code Button -->
                    <a href="https://github.com/mkhmik004/Finance-application" target="_blank" class="btn btn-secondary ms-2">Source Code</a>
                </div>
            </div>

            <div class="col-md-6 project-item mb-5">
              <h3>Wiki Clone</h3>
              <div class="text-center">
                  <img src="/assets/img/BF.png" loading="lazy" alt="BetterFinance App" style="width: 100%; max-width: 1200px; height: auto;">
              </div>
              <p>WikiSite is a collaborative knowledge platform built using Django and Bootstrap. It allows users to create and edit wiki articles on various topics. With features such as article creation, editing, and search functionality, WikiSite provides a seamless experience for both creators and consumers of knowledge.</p>
              <div class="button-container mt-3 d-flex justify-content-center">
                  <!-- Software Demo Button -->
                  <a href="https://www.youtube.com/watch?v=cdqIl0uor9Q&t=1s" target="_blank" class="btn btn-success">Video</a>
                  <!-- Source Code Button -->
                  <a href="https://github.com/mkhmik004/wikisite" target="_blank" class="btn btn-secondary ms-2">Source Code</a>
              </div>
          </div>

            

        </div>
    </div>
</section>


  



  </main><!-- End #main -->

 

  {% endblock %}
  
